<header class="w-full h-[420px] bg-zinc-900 bg-home">
  <div class="w-full h-full flex flex-col justify-center items-center">
    <img
      src="./assets/chef.png"
      alt="LogoChef"
      class="w-32 h-32 rounded-full shadow-lg hover:scale-110 duration-200"
    />

    <h1 class="text-3xl mt-4 mb-2 font-bold text-white">Chef Holanda</h1>
    <span class="text-white font-medium">Endereço</span>
    <div class="bg-green-600 px-4 py-1 rounded-lg mt-5" id="date-span">
      <span class="text-white font-medium">Seg á Dom - 18:00 as 22:00</span>
    </div>
  </div>
</header>

<h2 class="text-2xl md:text-3xl font-bold text-center mt-9 mb-6">
  Conheça Nosso Menu
</h2>

<div id="menu">
  <main
    class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-10 mx-auto max-w-7xl px-2 mb-16"
  >
    <!--Inico do Produto 1-->
    <div class="flex gap-2">
      <img
        src="./assets/Vegetariana.png"
        alt="Yakisoba Vegetariana"
        class="w-28 h-28 rounded-md hover:scale-110 hover:-rotate-2 duration-200"
      />
      <div>
        <p class="font-bold">Yakisoba Vegetariana</p>
        <p class="text-sm">
          Macarrão alfa Premium, acampanhado com legumes frecos ( brócolis,
          couveflor, cebola, cenoura, repolho ) finalizando com um delicioso
          molho à base de shoyu.
        </p>

        <div class="flex items-center gap-2 justify-between mt-3">
          <p class="font-bold text-lg">500 ml R$ 49,90</p>
          <button
            class="bg-red-500 px-5 rounded add-to-cart-btn"
            data-name="Yakisoba Vegetariana"
            data-price="49,90"
          >
            <i class="fa fa-cart-plus text-white"></i>
          </button>
        </div>
      </div>
    </div>
    <!--Fim do Produto 1-->

    <!--Inico do Produto 2-->
    <div class="flex gap-2">
      <img
        src="./assets/Vegetariana.png"
        alt="Yakisoba Vegetariana"
        class="w-28 h-28 rounded-md hover:scale-110 hover:-rotate-2 duration-200"
      />
      <div>
        <p class="font-bold">Yakisoba Vegetariana</p>
        <p class="text-sm">
          Macarrão alfa Premium, acampanhado com legumes frecos ( brócolis,
          couveflor, cebola, cenoura, repolho ) finalizando com um delicioso
          molho à base de shoyu.
        </p>

        <div class="flex items-center gap-2 justify-between mt-3">
          <p class="font-bold text-lg">900 ml R$ 82,90</p>
          <button
            class="bg-red-500 px-5 rounded add-to-cart-btn"
            data-name="Yakisoba Vegetariana"
            data-price="82,90"
          >
            <i class="fa fa-cart-plus text-white"></i>
          </button>
        </div>
      </div>
    </div>
    <!--Fim do Produto 2-->

    <!--Inico do Produto 3-->
    <div class="flex gap-2">
      <img
        src="./assets/Premium.png"
        alt="Yakisoba Premium"
        class="w-28 h-28 rounded-md hover:scale-110 hover:-rotate-2 duration-200"
      />
      <div>
        <p class="font-bold">Yakisoba Premium</p>
        <p class="text-sm">
          Macarrão alfa Premium, acampanhado com filé de frango, filé
          bovinho, camarôes e legumes frescos ( brócolis, couveflor, cebola,
          cenoura, repolho ) finalizando com um delicioso molho à base de
          shoyu.
        </p>

        <div class="flex items-center gap-2 justify-between mt-3">
          <p class="font-bold text-lg">500 ml R$ 69,90</p>
          <button
            class="bg-red-500 px-5 rounded add-to-cart-btn"
            data-name="Yakisoba Premium"
            data-price="82,90"
          >
            <i class="fa fa-cart-plus text-white"></i>
          </button>
        </div>
      </div>
    </div>
    <!--Fim do Produto 3-->

    <!--Inico do Produto 4-->
    <div class="flex gap-2">
      <img
        src="./assets/Premium.png"
        alt="Yakisoba Premium"
        class="w-28 h-28 rounded-md hover:scale-110 hover:-rotate-2 duration-200"
      />
      <div>
        <p class="font-bold">Yakisoba Premium</p>
        <p class="text-sm">
          Macarrão alfa Premium, acampanhado com filé de frango, filé
          bovinho, camarôes e legumes frescos ( brócolis, couveflor, cebola,
          cenoura, repolho ) finalizando com um delicioso molho à base de
          shoyu.
        </p>

        <div class="flex items-center gap-2 justify-between mt-3">
          <p class="font-bold text-lg">900 ml R$ 117,90</p>
          <button
            class="bg-red-500 px-5 rounded add-to-cart-btn"
            data-name="Yakisoba Premium"
            data-price="117,90"
          >
            <i class="fa fa-cart-plus text-white"></i>
          </button>
        </div>
      </div>
    </div>
    <!--Fim do Produto 4-->

    <!--Inico do Produto 5-->
    <div class="flex gap-2">
      <img
        src="./assets/Camarão.png"
        alt="Yakisoba Camarão"
        class="w-28 h-28 rounded-md hover:scale-110 hover:-rotate-2 duration-200"
      />
      <div>
        <p class="font-bold">Yakisoba Camarão</p>
        <p class="text-sm">
          Macarrão alfa Premium, acampanhado com camarões e legumes frecos (
          brócolis, couveflor, cebola, cenoura, repolho ) finalizando com um
          delicioso molho à base de shoyu.
        </p>

        <div class="flex items-center gap-2 justify-between mt-3">
          <p class="font-bold text-lg">500 ml R$ 72,90</p>
          <button
            class="bg-red-500 px-5 rounded add-to-cart-btn"
            data-name="Yakisoba Camarão"
            data-price="72,90"
          >
            <i class="fa fa-cart-plus text-white"></i>
          </button>
        </div>
      </div>
    </div>
    <!--Fim do Produto 5-->

    <!--Inico do Produto 6-->
    <div class="flex gap-2">
      <img
        src="./assets/Camarão.png"
        alt="Yakisoba Camarão"
        class="w-28 h-28 rounded-md hover:scale-110 hover:-rotate-2 duration-200"
      />
      <div>
        <p class="font-bold">Yakisoba Camarão</p>
        <p class="text-sm">
          Macarrão alfa Premium, acampanhado com camarões e legumes frecos (
          brócolis, couveflor, cebola, cenoura, repolho ) finalizando com um
          delicioso molho à base de shoyu.
        </p>

        <div class="flex items-center gap-2 justify-between mt-3">
          <p class="font-bold text-lg">900 ml R$ 122,90</p>
          <button
            class="bg-red-500 px-5 rounded add-to-cart-btn"
            data-name="Yakisoba Camarão"
            data-price="122,90"
          >
            <i class="fa fa-cart-plus text-white"></i>
          </button>
        </div>
      </div>
    </div>
    <!--Fim do Produto 6-->

    <!--Inico do Produto 7-->
    <div class="flex gap-2">
      <img
        src="./assets/Frango.png"
        alt="Yakisoba Frango"
        class="w-28 h-28 rounded-md hover:scale-110 hover:-rotate-2 duration-200"
      />
      <div>
        <p class="font-bold">Yakisoba Frango</p>
        <p class="text-sm">
          Macarrão alfa Premium, acampanhado com filé de frango e legumes
          frecos ( brócolis, couve flor, cebola, cenoura, repolho )
          finalizando com um delicioso molho à base de shoyu.
        </p>

        <div class="flex items-center gap-2 justify-between mt-3">
          <p class="font-bold text-lg">500 ml R$ 55,90</p>
          <button
            class="bg-red-500 px-5 rounded add-to-cart-btn"
            data-name="Yakisoba Frango"
            data-price="55,90"
          >
            <i class="fa fa-cart-plus text-white"></i>
          </button>
        </div>
      </div>
    </div>
    <!--Fim do Produto 7-->

    <!--Inico do Produto 8-->
    <div class="flex gap-2">
      <img
        src="./assets/Frango.png"
        alt="Yakisoba Frango"
        class="w-28 h-28 rounded-md hover:scale-110 hover:-rotate-2 duration-200"
      />
      <div>
        <p class="font-bold">Yakisoba Frango</p>
        <p class="text-sm">
          Macarrão alfa Premium, acampanhado com filé de frango e legumes
          frecos ( brócolis, couve flor, cebola, cenoura, repolho )
          finalizando com um delicioso molho à base de shoyu.
        </p>

        <div class="flex items-center gap-2 justify-between mt-3">
          <p class="font-bold text-lg">900 ml R$ 93,90</p>
          <button
            class="bg-red-500 px-5 rounded add-to-cart-btn"
            data-name="Yakisoba Frango"
            data-price="93,90"
          >
            <i class="fa fa-cart-plus text-white"></i>
          </button>
        </div>
      </div>
    </div>
    <!--Fim do Produto 8 -->

    <!--Inico do Produto-->
    <div class="flex gap-2">
      <img
        src="./assets/File-mignon.png"
        alt="Yakisoba Filé Mignon"
        class="w-28 h-28 rounded-md hover:scale-110 hover:-rotate-2 duration-200"
      />
      <div>
        <p class="font-bold">Yakisoba Filé Mignon</p>
        <p class="text-sm">
          Macarrão alfa Premium, acampanhado com filé bovino e legumes
          frecos ( brócolis, couve flor, cebola, cenoura, repolho )
          finalizando com um delicioso molho à base de shoyu.
        </p>

        <div class="flex items-center gap-2 justify-between mt-3">
          <p class="font-bold text-lg">500 ml R$ 58,90</p>
          <button
            class="bg-red-500 px-5 rounded add-to-cart-btn"
            data-name="Yakisoba Filé Mignon"
            data-price="58,90"
          >
            <i class="fa fa-cart-plus text-white"></i>
          </button>
        </div>
      </div>
    </div>
    <!--Fim do Produto-->

    <!--Inico do Produto-->
    <div class="flex gap-2">
      <img
        src="./assets/File-mignon.png"
        alt="Yakisoba Filé Mignon"
        class="w-28 h-28 rounded-md hover:scale-110 hover:-rotate-2 duration-200"
      />
      <div>
        <p class="font-bold">Yakisoba Filé Mignon</p>
        <p class="text-sm">
          Macarrão alfa Premium, acampanhado com filé bovino e legumes
          frecos ( brócolis, couve flor, cebola, cenoura, repolho )
          finalizando com um delicioso molho à base de shoyu.
        </p>

        <div class="flex items-center gap-2 justify-between mt-3">
          <p class="font-bold text-lg">900 ml R$ 98,90</p>
          <button
            class="bg-red-500 px-5 rounded add-to-cart-btn"
            data-name="Yakisoba Filé Mignon"
            data-price="98,90"
          >
            <i class="fa fa-cart-plus text-white"></i>
          </button>
        </div>
      </div>
    </div>
    <!--Fim do Produto-->
  </main>
</div>

<div
  class="bg-black/60 w-full h-full fixed top-0 left-0 z-[99]  items-center justify-center hidden"
>
  <div class="bg-white p-5 rounded-md min-w-[90%] md:min-w-[600px]">
    <h2 class="text-center font-bold text-2xl mb-2">Meu Carrinho</h2>
    <div id="cart-items" class="flex justify-between mb-2 flex-col"></div>
    <p class="font-bold">Total: <span id="cart-total">0.00</span></p>
    <p class="font-bold mt-4">Endereço de Entrega</p>
    <input type="text" placeholder="Digite seu endereço completo..." id="address" class="w-full border-2 p-1 rounded my-1">
    <p class="text-red-500 hidden " id="address-warn">Digite seu endereço completo!</p>
    <div class="flex items-center justify-between mt-5 w-full">
      <button id="close-modal-btn">Fechar</button>
      <button id="checkout-btn" class="bg-green-500 text-white px-4 py-1 rounded">Finalizar pedido</button>
    </div>
  </div>
</div>

<footer
  class="w-full bg-red-500 py-3 fixed bottom-0 z-40 flex items-center justify-center"
>
  <button
    class="flex items-center gap-2 text-white font-bold"
    id="cart-btn"
  >
    (<span id="cart-count">2</span>) Veja Seu Carrinho
    <i class="fa fa-cart-plus text-lg text-white"></i>
  </button>
</footer>